* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
  font-family: sans-serif;
}

section.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}
