body {
  header {
    height: $header-footer-height-mobile;
    color: $white;
    background-color: $black;
    nav {
      height: 100%;
      padding: 0 3em;
      font-size: 1.25em;
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      div.nav-primary {
        font-family: $font-heading;
        font-size: 1.5em;
      }
      div.nav-control { font-size: 1.5em; }
      div.nav-secondary {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        a {
          padding: 0 1em;
          border-right: 1px $white solid;
          &:last-child {
            padding-right: 0;
            border-right: 1px transparent solid;
          }
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  body header nav div.nav-secondary.hidden-mobile {
    display: none;
  }
}
@media (min-width: $breakpoint-tablet) {
  body > header {
    height: $header-footer-height;
    nav {
      flex-direction: row;
      justify-content: space-between;
      div.nav-control { display: none; }
      div.nav-secondary {
        flex-direction: row;
        flex-basis: 40%;
        justify-content: flex-end;
        a {
          padding: 0 1em;
          border-right: 1px $white solid;
          &:last-child {
            padding-right: 0;
            border-right: 1px transparent solid;
          }
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {

}
