// Typography
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600,700|Oxygen:400,700');
$font-heading: 'Exo 2', sans-serif;
$font-body: 'Oxygen', sans-serif;

// Colors
$black: #181A1B;
$blue: #224870;
$link: #5C9EAD;
$white: #F7F0F0;
